<div>
  <%= form_with model: @comment, url: user_post_comments_url(@user, @post), scope: :comment, method: :post do |form| %>
    <%= form.label :text, "Write your comment here"%>
    <%= form.text_area :text%>
    <%= form.submit "Send"%>
  <%end%>
</div>