<div class="justify-items-center">
  <% @users.each do |user| %>
    <div>
      <img src = <%= user.photo%> />
      <div>
        <div><%= user.name %></div>
        <span><%= user.post_counter %></span>
      </div>
    </div>
  <% end %>
</div>