<div class="">
  <% @users.each do |user| %>
    <div class="">
      <div class="">
        <img src= <%= user.photo%> />
      </div>
      <div class="">
        <div class="">Username: <%= user.name %></div>
        <span class="">Posts: <%= user.post_counter %></span>
      </div>
    </div>
  <% end %>
</div>