$transparent_bg: transparentize(#39b9da, 0.3);

.user_container {
  background-color: $transparent_bg;
  flex: 0 1 auto;

  &__card {
    display: flex;
    width: auto;

    &__image {
      padding: 1.5rem;

      img {
        width: auto;
        max-width: 24rem;
        border-radius: 1rem;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &__name {
        font-size: 1.5rem;
        font-weight: 600;
      }

      &__post {
        font-size: 1.25rem;
        font-weight: 500;
      }
    }
  }
}
