<h1>User: <%= @user.name %></h1>
<p>User details:</p>
<%= link_to '< Back', users_path %>
<%= render 'users/user'%>

<%if @user.posts.empty?%>
  <h3>This user has no posts</h3>
<%else%>
  <%= render 'posts/posts' %>
<%end%>
